<footer>
    <div class="d-flex mt-2 p-5">
        <div class="logo">
            <img src="../../assets/images/logo.png" width="57%">
        </div>
        <div class="w20">
            <h6>SERVICES</h6>
            <ul class="pl-0">
                <li>
                    services one
                </li>
                <li>
                    services one two dsfsf
                </li>
                <li>
                    services one theree
                </li>
                <li>
                    services one
                </li>
            </ul>
        </div>
        <div class="w20">
            <h6>SERVICES</h6>
            <ul class="pl-0">
                <li>
                    services one
                </li>
                <li>
                    services one two dsfsf
                </li>
                <li>
                    services one theree
                </li>
                <li>
                    services one
                </li>
            </ul>
        </div>
        <div class="w20">
            <h6>SERVICES</h6>
            <ul class="pl-0">
                <li>
                    services one
                </li>
                <li>
                    services one two dsfsf
                </li>
                <li>
                    services one theree
                </li>
                <li>
                    services one
                </li>
            </ul>
        </div>
        <div class="w20">
            <h6>SERVICES</h6>
            <ul class="pl-0">
                <li>
                    services one
                </li>
                <li>
                    services one two dsfsf
                </li>
                <li>
                    services one theree
                </li>
                <li>
                    services one
                </li>
            </ul>
        </div>
    </div>
</footer>
