<div class="cls-loginbox">
    <form [formGroup]="loginform">
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email"  id="email" formControlName="email" placeholder="Enter Email">
          <span class="form-error" *ngIf="(loginform.controls['email'].invalid &&
          (loginform.controls['email'].dirty ||
            loginform.controls['email'].touched))">
              Enter valid  Email ID
            </span>
        </div>
        <div class="form-group">
            <label for="pass">Enter Password</label>
            <input type="password"  id="pass" formControlName="password" placeholder="Enter Password">
        </div>
        <button (click)="login()" class="w-100">
            Login
        </button>
    </form>
</div>
