<header class="header px-5 position-relative">
    <nav class="navbar navbar-expand-lg navbar-light px-0 mb-4">
        <a class="navbar-brand" href="#" title="logo">
            <img src="../../assets/images/key feature bg.png" width="30%">
        </a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item pr-3" *ngFor="let mn of menu">
                <a class="nav-link" href="javascript:;" title="{{mn}}">{{mn}} </a>
            </li>
        </ul>
    </nav>
    <!-- section1 starts -->
    <div class="d-flex flex mt-5">
        <div class="content mt-5">
           <h1>Designed by <br/>Indian Engineers</h1>
           <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer
           </p>
           <button>
               Show Content
           </button>
        </div>
        <div class="bgimage">
           <img src="../../assets/images/banner_illustration.png" width="76%">
        </div>
    </div>
    <!-- section2 ends -->
    <span class="positionimg">
        <img src="../../assets/images/mouse.png">
    </span>
    <div class="custom-shape-divider-bottom-1591433166">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M1200 120L0 16.48V0h1200v120z" class="shape-fill"></path>
        </svg>
    </div>
</header>
